<!doctype html>
<html>
<head>
	<title>Hello AngularJS</title>
	<link href="css/angular-bootstrap.css" rel="stylesheet">
	<style type="text/css">
		[ng\:cloak], [ng-cloak], .ng-cloak {
			display: none !important;
		}
	</style>
</head>

<body ng-app="hello">
<div class="container">

	<div ng-controller="home as ctrl" ng-cloak class="ng-cloak">
		<div class="row">
			<div class="col-md-6">
				<textarea id="TextArea"
						  ng-model="ctrl.data"
						  ng-keyup="autoExpand($event)"
						  placeholder="This is an auto expanding textarea with just angularjs ... try typing something.">

				</textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button ng-click="sendRequest()">
					Send request
				</button>
			</div>
		</div>

	</div>
</div>
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/hello.js"></script>
</body>
</html>